h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
h1 {
    font-size: 2.35em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;

}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
    margin: 2vh;
}
header, footer {
    font-size: large;
    text-align: center;
    padding: 0 0;
    color: #f9f9f9;
}
footer{
    background: linear-gradient(to right, #32bc39,#2a85a0);
}
nav {
    background: #eee;
}
main {
    background: #f9f9f9;
}
aside {
    background: #eee;
}

#container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-right: 9vw;
    padding-left: 9vw;
    justify-content: space-between;
    background: linear-gradient(to right, #32bc39, #2a85a0);
}
#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-item{
    border-bottom: green solid;
    color: black;
}
.icon{
    font-family: "MaterialDesign";
}
.informationIcon{
    margin-top: 8px;
    margin-right: 16px;
    font-size: 55px;
    font-weight: normal;
}

.twitterIcon::before{
    content: "\f545";
}
.facebookIcon::before{
    content: "\f20d";
}
.gmailIcon::before{
    content: "\f2ab";
}
.menu-item{
    border-bottom: green solid;
    color: black;
}
.search {
    margin-top: 30px;
    line-height: 20px;
    font-size: 14px;
    padding: 12px;
    border: #e6ecf0 1px solid;
    border-radius: 3px;
    background: #88eb8a;
    cursor: pointer;
    width: 100px;
    transition-duration: 0.4s;
}

.search:focus {
    cursor: text;
    width: 200px;
    border-radius: 5px;
    color: #000000;
    outline:none;
    border: 1px solid green;
    background-position: right 10px center;
    text-indent: 0;
    white-space: normal;

}
#menu-container {
    display: flex;
    flex-direction: row;
    padding-right: 10vw;
    padding-left: 10vw;
    justify-content: space-between;
    background: linear-gradient(to right, #2a85a0, #32bc39);

}